body {
  display: flex;
  background-color: grey;
  justify-content: center;
}
.Marge {
  background-color: #FEBF18;
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Content {
  width: 75%;
  height: 100%;
  padding:5%;
}
.Box {
  display: flex;
  max-width: 800px;
  background-color: white;
}
.roundedImage{
  display: inline-block;
  width: 90%;
  border-radius: 50%;
  overflow: hidden;
  margin:10%;
}
img {
  width: inherit;
  height: inherit;
  border-radius: inherit;
}
/* Bonus : keep aspect-ratio */
img {
  object-fit: cover;
  object-position: right center;
}
.loisirs {
  text-align: center;
}
.contact {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
}
.contact_info {
  margin-bottom:10%;
}
.titre-marge {
  background-color: #514F4A;
  color: #FEBF18;
  text-align: center;
  font-size: x-large;
}
.Formation {
  display: flex;
  margin-bottom: 5%;
}
#Formation {
  width: 45%;
}
#Formation2 {
  width: 55%;
}
.recommandations {
  display: flex;
  margin-top: 5%;
}
#r1 {
  width: 55%;
}
#r2 {
  width: 45%;
}
#police1 {
  font-size: small;
}
hr {
  border-top: 1px solid #FEBF18;
}
.hidden_title {
  opacity: 0%;
  height: 0%;
  width: 0%;
}
.title {
  margin-bottom:5%;
}
@media all and (max-device-width: 480px)
{
  .Content {
    width: auto;
  }
  .Formation {
    flex-wrap: wrap;
  }
  img {
    width: 100%;
    height: auto;
    border-radius: auto;
  }
  .contact_info {
    margin-right: 5%;
    margin-bottom: 5%;
  }
  .contact {
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    }
  .roundedImage {
    width: 20%;
    border-radius: 50%;
    margin: 0 auto;
    }
  .titre-marge {
    height: auto;
  }
  .Marge {
    width: auto;
  }
  .Box {
    flex-direction: column;
    width:80%;
  }
  #police1 {
    font-size: xx-small;
  }
  .contact {
      font-size: xx-small;
  }
  .fa-2x {
    font-size: 1em;
  }
  h1, h2 {
    font-size: x-small;
  }
  p,  {
    font-size: xx-small;
  }
  .Formation {
    flex-direction: column;
    flex-wrap: wrap;
  }
  #Formation {
    width: auto;
    font-size: xx-small;
  }
  #Formation2 {
    width: auto;
    font-size: xx-small;
  }
  .recommandations {
    font-size: x-small;
  }
  .titre-marge {
    font-size: x-small;
  }
  .hidden_title {
    opacity: 100%;
    width: auto;
    height: auto;
    text-align: center;
  }
  .title {
    opacity: 0%;
    height: 0%;
    width: 0%;
  }
}
