body {
  display: flex;
  background-color: grey;
  justify-content: center;
}
.Main {
  display: flex;
  max-width: 800px;
  background-color: white;
}
.Margin {
  background-color: #FEBF18;
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
img {
  /*
  width: inherit;
  height: inherit;
  */
  border-radius: inherit;
  width: 80%;
}
.RoundedImage{
  border-radius: 50%;
  margin: 5%;
  text-align: center;
  /*
  display: inline-block;
  overflow: hidden;
  margin:10%;
  */
}
.Hidden_title {
  display: none;
}
.Margin_title {
  background-color: #514F4A;
  color: #FEBF18;
  text-align: center;
  font-size: x-large;
}
.Contact {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
}
.Contact_info {
  margin-bottom:10%;
  word-wrap: break-word;
}
.About_me {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
}
.Hobbies {
  text-align: center;
}
.Content {
  width: 75%;
  height: 100%;
  padding:5%;
}
.Title {
  margin-bottom:5%;
}
.Formation {
  display: flex;
  margin-bottom: 5%;
}
.Formation_date {
  width: 45%;
}
.Formation_info{
  width: 55%;
}
.Professional_experience {
  display: flex;
  margin-bottom: 5%;
}
.Professional_exp_date {
  width: 45%;
}
.Professional_exp_info{
  width: 55%;
}
.Recommandations {
  display: flex;
  margin-top: 5%;
}
.Recommandations_info {
  width: 50%;
  margin-left: 5%;
}
.Police_small {
  font-size: small;
  margin: 0;
}
hr {
  border-top: 1px solid #FEBF18;
}
i {
  color: #514F4A;
}
h1 span {
  color:#FEBF18;
}
h2 i {
  color: #FEBF18;
  margin-right:4%;
}
header p span {
  text-decoration: underline #FEBF18;
}
@media all and (max-width: 480px)
{
  .Main {
    flex-direction: column;
    width:80%;
  }
  .Margin {
    width: auto;
  }
  .RoundedImage {
    border-radius: 50%;
    margin: 0 auto;
    }
  img {
    width: 20%;
    height: auto;
  }
  .Hidden_title {
    text-align: center;
    display: block;
  }
  .Margin_title {
    height: auto;
    font-size: x-small;
  }
  .Contact_info {
    margin-right: 5%;
    margin-bottom: 5%;
  }
  .Contact {
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    font-size: xx-small;
    }
  .About_me {
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    font-size: xx-small;
  }
  .Content {
    width: auto;
  }
  .Title {
    display: none;
  }
  .Formation {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .Formation_date {
    width: auto;
    font-size: xx-small;
  }
  .Formation_info {
    width: auto;
    font-size: xx-small;
  }
  .Professional_experience {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .Professional_exp_date {
    width: auto;
    font-size: xx-small;
  }
  .Professional_exp_info{
    width: auto;
    font-size: xx-small;
  }
  .Recommandations {
    font-size: x-small;
  }
  .Police_small {
    font-size: xx-small;
  }
  .fa-2x {
    font-size: 1em;
  }
  h1, h2 {
    font-size: x-small;
  }
  p {
    font-size: xx-small;
  }
  figure.RoundedImage {
    text-align: center;
    width: 100%;
  }
}
